.white{
    color: white;
}

._bigger-then-fs-1{
    font-size: 60px;
}

.line-white{
    width: 10%;
    height: 3px;
    background-color: white;
    border-radius: 50px;
}

.line-black{
    width: 10%;
    height: 3px;
    background-color: black;
    border-radius: 50px;
}

.img-container img{
    width: 100%;
}
/* header */
header{
    height: 80px;
}

header .full-screen{
    height: 100%;
    background-color: #2c3e50;
}

/* main */
/* section start */
#start-bootstrap .full-screen{
    background-color: #1abc9c;
}

#start-bootstrap .img-container{
    width: 300px;
    height: 300px;
}



#start-bootstrap .list ul li:nth-child(2)::before,
#start-bootstrap .list ul li:nth-child(2)::after{
    content: '-';
    color: white;
}

/* about section */
#about .full-screen{
    background-color: #1abc9c;
}


/* footer */

/* debug */
/* .debug header .full-screen{
    background-color: blue;
} */

/* .debug header .container>.row{
    background-color: black;
} */

.debug [class*="col"]{
    border: 1px solid red;
}

/* .debug #portfolio [class*="col"]{
    background-color: aquamarine;
} */

.debug #start-bootstrap{
    /* height: 800px; */
    /* background-color: orange; */
}

/* .debug .jumbotron .row{
    background-color: rgb(182, 182, 182);
} */

/* .debug #portfolio{
    background-color: lightslategrey;
} */

.debug footer{
    background-color: navy;
}

.debug .top-footer{
    background-color: olivedrab;
}

.debug .bottom-footer{
    background-color: olive;
}

