/* header */
header{
    height: 80px;
}

header>.row{
    height: 100%;
}

/* jumbotron */
.jumbotron>.row{
    height: 100%;
}
/* debug */
.debug header{
    background-color: blue;
}

.debug header>.row{
    background-color: black;
}

.debug header>.row>.col{
    border: 1px solid red;
}

.debug .jumbotron{
    height: 300px;
    background-color: blue;
}

.debug .jumbotron>.row{
    background-color: rgb(51, 51, 51);
}

.debug .jumbotron>.row .col{
    border: 1px solid rgb(255, 94, 0);
}
